body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 32px;
    color: #e60023;
    margin-bottom: 20px;
}

a {
    color: #e60023;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    color:black;
    font-size: 20px;
}

h3 {
    color:#e60023;
    font-size: 18px;
}

p {
    color: black;
    font-size: 16px;
}

.triggers, .rules, .feedback, .loopsModes {
    border: 1px solid #ddd;
    border-radius: 30px;
    padding: 20px 40px;
    margin: 10px 0;
    background-color: #f9f9f9;
}

.triggers:hover {
    background-color: #eee;
}

.rules:hover {
    background-color: #eee;
}

.feedback:hover {
    background-color: #eee;
}

.loopsModes:hover {
    background-color: #eee;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

@media (max-width: 1224px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 868px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

.video video {
    display: block;
    margin: 0 auto;
    border-radius: 30px;
}

.popup {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 16px 25px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.popup .undo {
    background: white;
    font-weight: 800;
    border: none;
    color: black;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 20px;
    padding: 13px 10px;
    margin-left: 15px;
}

.hidden {
    display: none;
}

.cover {
    width: 40px;
    height: auto;
    border-radius: 15px;
    margin-right: 15px;
}

.container {
display: flex;
align-items: center;
justify-content: center;
margin: 30px;
}

.beta-card {
  width: 250px;
  height: 450px;
  border-radius: 12px;
  position: relative;
  
}

.box-card {
    position: absolute;
}

/* Card Header */

.card-header {
  /* pointer-events: none; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: absolute;
  top: 0;
  width: 90%;
 visibility: hidden;
  opacity: 0;        
  transition: visibility 0s, opacity 0.1s ease-in-out;
  z-index: 1000;
}

.box-card:hover .card-header {
    visibility: visible;
    opacity: 1;   
  }

  .box-card:hover {
    filter:brightness(85%)
  }

/* Profile Dropdown */
.profile {
  border: none;
  color: white;
  padding: 16px 20px;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background: none;
  position: relative;
  z-index: 10;
}

.profile:hover {
    background-color: rgba( 0,0,0,0.4 );
}

.profile:active {
    transform: scale(0.9);
}

.profile.clicked {
    background-color: black;
}

.profile img {
    width: 20px;
    align-items: center;
    justify-content: center;
}

.Save img {
    width: 50px;
}
.Save {
    border: none;
    text-align: center;
    text-decoration: none;
    background: none; /* Fix invalid CSS */
    cursor: pointer;
    position: relative; /* Ensure it remains in place */
    z-index: 10; /* Ensure it's clickable above other elements */
}

.Save:hover {
    background-image: url(/idm241/idm241/final/images/bookmarkhover.png);
}

.Save:active {
    transform: scale(0.9);
}


/* Card Footer */
.card-footer {
  position: absolute;
  display: flex;
  gap: 10px;
  margin: 10px;
  align-items: center;
  top: 450px;
}

.user-profile {
    width: 30px;
    height: 30px;
    border-radius: 100px;
}

.username:hover {
    border-bottom: solid 1px black;
}


/* Icon Buttons */
.icon-button {
  background-color: white;
  color: black;
  border: none;
  border-radius: 50%;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.icon-button img {
    width: 20px;
    align-items: center;
    justify-content: center;
}

.icon-button:hover {
    opacity: 75%;
}

.icon-button:active {
    transform: scale(0.9);
}

.card-image {
    width: 250px;
    height: 450px;
    border-radius: 12px;
    display: block;
    position: relative;
}

/* Popup styling */
.profile-popup-background {
    position: absolute;
    top: 225px;
}

.profilePopup {
    width: 300px;
    max-height: 80vh;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    overflow-y: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

/* 
.profileBackground {
    width: 300px;
    height: auto;
    position: relative;
} */

.profilePopup h2, .profilePopup h3, .profilePopup h1 {
    color: #333;
    font-size: 16px;
    margin: 10px 0;
}

.profilePopup .option {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.profilePopup .option img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin-right: 10px;
}

.profilePopup .option h3 {
    font-size: 18px;
    color: #000;
}

.profilePopup .create-board {
    display: flex;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.popup .create-board:hover {
    background-color: #f1f1f1;
}

.profilePopup .create-board img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/*more button*/
.more img {
    width: 15px;
    padding: 7px;
    border-radius: 100px;
    background-color: gainsboro;
}

.more {
    border: none;
    text-align: center;
    text-decoration: none;
    background: none;
    position:relative;
    right: -50px;
}

.more:hover {
    filter:brightness(85%)
}

.more-popup {
    position: absolute;
    top: 225px;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    overflow-y: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.Share img {
    width: 50px;
    height: auto;
    border-radius: 1000px;
}

.Share p {
    text-align: center;
}

.share-flex {
    display: flex;
}
