body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 32px;
    color: #e60023;
    margin-bottom: 20px;
}

a {
    color: #e60023;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    color:black;
    font-size: 20px;
}

h3 {
    color:#e60023;
    font-size: 18px;
}

p {
    color: black;
    font-size: 16px;
}

.triggers, .rules, .feedback, .loopsModes {
    border: 1px solid #ddd;
    border-radius: 30px;
    padding: 20px 40px;
    margin: 10px 0;
    background-color: #f9f9f9;
}

.triggers:hover {
    background-color: #eee;
}

.rules:hover {
    background-color: #eee;
}

.feedback:hover {
    background-color: #eee;
}

.loopsModes:hover {
    background-color: #eee;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

@media (max-width: 1224px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 868px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

.video video {
    display: block;
    margin: 0 auto;
    border-radius: 30px;
}

.Save {
    border: none;
    color: white;
    background-color:#e60023;
    padding: 16px 20px;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.Save:hover {
    background-color: #B60000;
}

.Save:active {
    transform: scale(0.9);
}

.Save.clicked {
    background-color: black;
}
.popup {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 16px 25px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.popup .undo {
    background: white;
    font-weight: 800;
    border: none;
    color: black;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 20px;
    padding: 13px 10px;
    margin-left: 15px;
}

.hidden {
    display: none;
}

.cover {
    width: 40px;
    height: auto;
    border-radius: 15px;
    margin-right: 15px;
}

.container {
display: flex;
align-items: center;
justify-content: center;
margin: 0;
}

.beta-card {
  width: 250px;
  height: 450px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.beta-card:hover {
filter:brightness(85%)
}

/* Card Header */
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: absolute;
  top: 0;
  width: 90%;
}

/* Profile Dropdown Button */
.profile {
  border: none;
  color: white;
  padding: 16px 20px;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background: none;
}

.profile:hover {
    background-color: rgba( 0,0,0,0.2 );
}

.profile:active {
    transform: scale(0.9);
}

.profile.clicked {
    background-color: black;
}

.profile img {
    width: 20px;
    align-items: center;
    justify-content: center;
}

/* Card Footer */
.card-footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

/* Icon Buttons */
.icon-button {
  background-color: white;
  color: black;
  border: none;
  border-radius: 50%;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.icon-button img {
    width: 20px;
    align-items: center;
    justify-content: center;
}

.icon-button:hover {
    opacity: 75%;
}

.icon-button:active {
    transform: scale(0.9);
}


/* Profile Popup Background 
.profile-popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10;
}*/

.profile-popup-background {
    width: 100%;
    height: 100%;
    position: absolute;
}

/* Popup styling */
.profilePopup {
    width: 300px;
    max-height: 80vh;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    overflow-y: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.profilePopup h2, .profilePopup h3, .profilePopup h1 {
    color: #333;
    font-size: 16px;
    margin: 10px 0;
}

.profilePopup .option {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.profilePopup .option img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin-right: 10px;
}

.profilePopup .option h3 {
    font-size: 18px;
    color: #000;
}

.profilePopup .create-board {
    display: flex;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.popup .create-board:hover {
    background-color: #f1f1f1;
}

.profilePopup .create-board img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}